body {
  margin: 0;
}

h1, h2, h3, p, a {
  margin: 0;
}

.header {
  height: 70px;
  width: 90%;
  background-color: white;
  box-sizing: content-box;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}

    .header-logo {
      height: 100%;
      width: 300px;
      color: black;
      font-family: 'Libre Baskerville', serif;
      float: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .header-logo:hover{
      cursor: pointer;
    }

        .header-logo img {
          width: 100%;
        }

    nav {
      height: 100%;
      width: 40%;
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

        nav a {
          color: rgb(120, 120, 120);
          text-decoration: none;
          font-family: 'Palanquin', sans-serif;
          font-size: 13px;
          letter-spacing: 3px;
          font-weight: bolder;
        }

        nav a:hover {
          color: black;
        }

.gallery-page {
  width: 90%;
  margin-left: 2.5%;
  padding: 2.5% 5%;
  background-color: white;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 1;
}

    .gallery-page h1 {
      display: block;
      height: 100px;
      width: 95%;
      margin-bottom: 20px;
      font-family: 'Libre Baskerville', serif;
      font-size: 30px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 3px;
      font-weight: lighter;
      color: rgb(80, 80, 80);
    }

    .gallery-item {
      height: 420px;
      width: 320px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

        .item {
          height: 320px;
          width: 100%;
        }

        .item:hover {
          cursor: pointer;
        }

        .item-description {
          height: 105px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

            .item-text {
              width: 100%;
              height: 98%;
              margin-top: 2%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

                .item-text h2 {
                  font-family: 'Libre Baskerville', serif;
                  font-size: 18px;
                  color: rgb(80, 80, 80);
                  margin-top: 1%;
                }

                .item-text h3 {
                  font-family: 'Palanquin', sans-serif;
                  font-size: 15px;
                  margin-top: -1%;
                }

.gallery-modal {
  height: 100%;
  width: 100%;
  background-color: rgba(40, 40, 40, .4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

.modal-activate {
  opacity: 1;
  z-index: 2;
}

    .modal-box {
      height: 500px;
      width: 900px;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

        .modal-image {
          height: 500px;
          width: 500px;
          background-image: url('images/stock-chair.jpg');
          background-size: 100%;
        }

        .modal-text {
          width: 380px;
          height: 100%;
        }

            .modal-text h1 {
              font-family: 'Libre Baskerville', serif;
              font-size: 30px;
              letter-spacing: 3px;
              margin-bottom: 15px;
            }

            .modal-text p {
              font-family: 'Palanquin', sans-serif;
              font-size: 15px;
              margin-bottom: 10px;
            }

            .modal-text h2 {
              font-family: 'Palanquin', sans-serif;
              font-size: 30px;
            }

        .purchase {
          height: 100px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }

            .purchase button {
              height: 40px;
              width: 80px;
              box-sizing: border-box;
              border: 1px solid black;
              background-color: transparent;
              font-size: 18px;
              font-family: 'Libre Baskerville', serif;
            }

            .purchase button:hover {
              border: none;
              background-color: rgb(106, 165, 91);
              color: white;
            }

        .back {
          height: 50px;
          width: 100%;
          margin-bottom: 100px;
        }

            #back {
              float: right;
              height: 20px;
              width: 20px;
              box-sizing: border-box;
              border: 1px solid black;
              text-align: center;
            }

            #back:hover {
              cursor: pointer;
            }

                #back p {
                  font-size: 15px;
                  line-height: 20px;
                  font-family: arial;
                  font-weight: lighter;
                }

.footer {
  height: 150px;
  width: 95%;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

    .footer-info {
      float: left;
      height: 70%;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

        .footer-item {
          height: 80%;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          margin-right: 40px;
        }

            .footer h3 {
              font-family: 'Palanquin', sans-serif;
              font-size: 12px;
            }

            .footer p {
              font-family: 'Palanquin', sans-serif;
              font-size: 10px;
            }

        #location {
          margin-right: 30px;
        }

        #phone {
          margin-right: 50px;
        }

        #email {
          margin-right: 100px;
        }
