body {
  margin: 0;
}

h1, h2, h3, p, a {
  margin: 0;
}

.header {
  height: 70px;
  width: 90%;
  background-color: white;
  box-sizing: content-box;
  padding: 0 5%;
}

    .header-logo {
      height: 100%;
      width: 300px;
      color: black;
      font-family: 'Libre Baskerville', serif;
      float: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .header-logo:hover{
      cursor: pointer;
    }

        .header-logo img {
          width: 100%;
        }

    nav {
      height: 100%;
      width: 500px;
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

        nav a {
          color: rgb(120, 120, 120);
          text-decoration: none;
          font-family: 'Palanquin', sans-serif;
          font-size: 13px;
          letter-spacing: 3px;
          font-weight: bolder;
        }

        nav a:hover {
          color: black;
        }

.gallery-page {
  height: 1500px;
  width: 95%;
  margin-left: 2.5%;
  padding: 2.5%;
  background-color: white;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

    .gallery-page h1 {
      display: block;
      height: 100px;
      width: 95%;
      font-family: 'Libre Baskerville', serif;
      font-size: 30px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 3px;
      font-weight: lighter;
    }

    .gallery-item {
      height: 455px;
      width: 320px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

        .gallery-item img {
          height: 320px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid black;
        }

        .item-description {
          height: 105px;
          width: 95%;
          padding: 0 2.5%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

            .item-text {
              width: 70%;
              height: 90%;
              margin-top: 10%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

                .item-text h2 {
                  font-family: 'Libre Baskerville', sans-serif;
                }

                .item-text p {
                  font-family: 'Palanquin', sans-serif;
                }

            .price {
              width: 13%;
              height: 90%;
              margin-top: 10%;
              display: flex;
              align-items: flex-start;
            }

                .price h3 {
                  font-family: 'Palanquin', sans-serif;
                }

.footer {
  height: 150px;
  width: 95%;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .footer-info {
      float: left;
      height: 70%;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

        .footer-item {
          height: 80%;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          margin-right: 40px;
        }

            .footer h3 {
              font-family: 'Palanquin', sans-serif;
              font-size: 12px;
            }

            .footer p {
              font-family: 'Palanquin', sans-serif;
              font-size: 10px;
            }

        #location {
          margin-right: 30px;
        }

        #phone {
          margin-right: 50px;
        }

        #email {
          margin-right: 100px;
        }
