body {
  margin: 0;
}

h1, h3, p, a {
  margin: 0;
}

.header {
  height: 70px;
  width: 90%;
  background-color: white;
  box-sizing: content-box;
  padding: 0 5%;
}

    .header-logo {
      height: 100%;
      width: 300px;
      color: black;
      font-family: 'Libre Baskerville', serif;
      float: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .header-logo:hover{
      cursor: pointer;
    }

        .header-logo img {
          width: 100%;
        }

    nav {
      height: 100%;
      width: 40%;
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

        nav a {
          color: rgb(120, 120, 120);
          text-decoration: none;
          font-family: 'Open Sans', sans-serif;
          font-size: 13px;
          letter-spacing: 3px;
          font-weight: bolder;
        }

        nav a:hover {
          color: black;
        }

.home-page {
  height: 650px;
  width: 100%;
  background-image: url('images/stock-antique.jpg');
  background-size: 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

    .visit {
      height: 450px;
      width: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(55, 55, 55, .4);
      border-radius: 2%;
    }

        .visit h1 {
          font-family: 'Libre Baskerville', serif;
          font-size: 45px;
          line-height: 60px;
          color: white;
          letter-spacing: 2px;
        }

        .visit p {
          font-family: 'Open Sans', sans-serif;
          color: white;
          font-size: 22px;
          margin: 5% 0 0 0;
          letter-spacing: 1px;
          line-height: 30px;
        }

        .visit a {
          border: 1px solid white;
          background-color: transparent;
          color: white;
          height: 60px;
          width: 150px;
          font-family: 'Libre Baskerville', serif;
          margin: 10% 0 0 0;
          font-size: 17px;
          letter-spacing: 2px;
          text-decoration: none;
          line-height: 60px;
        }

        .visit a:hover {
          background-color: rgba(255, 255, 255, .9);
          color: black;
          border: 1px solid black;
          cursor: pointer;
        }

.footer {
  height: 150px;
  width: 95%;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .footer-info {
      float: left;
      height: 70%;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

        .footer-item {
          height: 80%;
          width: 100px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          margin-right: 40px;
        }

            .footer h3 {
              font-family: 'Open Sans', sans-serif;
              font-size: 12px;
            }

            .footer p {
              font-family: 'Open Sans', sans-serif;
              font-size: 10px;
            }

        #hours {
          width: 110px;
        }

        #location {
          margin-right: 30px;
        }

        #phone {
          margin-right: 50px;
        }

/*        #email {
          margin-right: 100px;
        }*/

        #email:hover, #facebook:hover, #instagram:hover {
          cursor: pointer;
        }









@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: portrait) {

.header {
  height: 120px;
}

.header-logo {
  width: 350px;
}

nav {
  width: 50%;
}

nav a {
  font-size: 18px;
}

.home-page {
  background-size: 205%;
  background-attachment: initial;
  height: 1500px;
}

.visit {
  height: 800px;
  width: 700px;
}

.visit h1 {
  font-size: 65px;
  line-height: 90px;
}

.visit p {
  font-size: 45px;
  line-height: 60px;
}

.visit a {
  height: 80px;
  width: 200px;
  line-height: 80px;
  font-size: 25px;
}

.footer {
  height: 175px;
}

.footer-item {
  width: 115px;
}

.footer h3 {
  font-size: 14px;
}

.footer p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait) {

.header {
  height: 120px;
}

.header-logo {
  width: 350px;
}

nav {
  width: 50%;
}

nav a {
  font-size: 18px;
}

.home-page {
  background-size: 205%;
  background-attachment: initial;
  height: 1500px;
}

.visit {
  height: 800px;
  width: 700px;
}

.visit h1 {
  font-size: 65px;
  line-height: 90px;
}

.visit p {
  font-size: 45px;
  line-height: 60px;
}

.visit a {
  height: 80px;
  width: 200px;
  line-height: 80px;
  font-size: 25px;
}

.footer {
  height: 175px;
}

.footer-item {
  width: 115px;
}

.footer h3 {
  font-size: 14px;
}

.footer p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

.header {
  height: 120px;
}

.header-logo {
  width: 350px;
}

nav {
  width: 50%;
}

nav a {
  font-size: 18px;
}

.home-page {
  background-size: 205%;
  background-attachment: initial;
  height: 1500px;
}

.visit {
  height: 800px;
  width: 700px;
}

.visit h1 {
  font-size: 65px;
  line-height: 90px;
}

.visit p {
  font-size: 45px;
  line-height: 60px;
}

.visit a {
  height: 80px;
  width: 200px;
  line-height: 80px;
  font-size: 25px;
}

.footer {
  height: 175px;
}

.footer-item {
  width: 115px;
}

.footer h3 {
  font-size: 14px;
}

.footer p {
  font-size: 12px;
}

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

}


